
<div id="left-panel">
    <div id="pizza-title">
        <h2>
            <span class="count-tile">Усі піци</span>
            <span class="badge orange" id="all"></span>
        </h2>
    </div>
    <div id="pizza-type">
        <ul class="nav nav-pills pizza-type-list">
            <li role="presentation" class="pizza-filter active" id="filter-all">
                <a href="#">
                    Усі
                </a>
            </li>
            <li role="presentation" class="pizza-filter" id="filter-meat">
                <a href="#">
                    Мясні
                </a>
            </li>
            <li role="presentation" class="pizza-filter" id="filter-pineapple">
                <a href="#">
                    З ананасами
                </a>
            </li>
            <li role="presentation" class="pizza-filter" id="filter-mushroom">
                <a href="#">
                    З грибами
                </a>
            </li>
            <li role="presentation" class="pizza-filter" id="filter-ocean">
                <a href="#">
                    З морепродуктами
                </a>
            </li>
            <li role="presentation" class="pizza-filter" id="filter-tomato">
                <a href="#">
                    Вега
                </a>
            </li>
        </ul>
    </div>
    <!--List with pizza-->
    <div class="row" id="pizza_list">

    </div>

</div>

<footer>
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>
        Доставка піци не здійснюється
    </p>
</footer>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>
